@page "/quiz"
@using Hiragana1.Client.Pages.Controls
@using Hiragana1.Shared;
@using Hiragana1.Shared.DTOs;
@inject HttpClient Http

<QuizSelectionMenu TestInProgress="@testInProgress"
                   OnSelectionMade="QuizParametersSelectionMade"
                   IsAnother="@quizItems.Any()"></QuizSelectionMenu>

<ErrorNotification ErrorMessage="@errorMessage"></ErrorNotification>
@if (testInProgress)
{
    <AnswerableTQ2 TestQuestion="currentQuestion"
                   OnAnswer="AnswerHappened"
                   MistakesSoFar="mistakesQty"
                   TotalQuestions="@quizItems.Count()"></AnswerableTQ2>
}
@if (quizResults.Any())
{
    <QuizResultsDisplay QuizResults="quizResults"></QuizResultsDisplay>
}

<button @onclick="@testController"></button>

<div>@callSucceeded</div>

@code {
    public bool testInProgress = false;
    private int mistakesQty = 0;
    private string errorMessage = string.Empty;
    QuestionDto currentQuestion = new QuestionDto();
    QuestionDto[] quizItems = new QuestionDto[0];
    List<QuizResult> quizResults = new List<QuizResult>();
    private bool callSucceeded = false;

    public async Task testController()
    {
        callSucceeded = await Http?.GetFromJsonAsync<bool>("QuestionV2/GetTest")!;
    }

    public async Task QuizParametersSelectionMade(SelectedQuizParametersDto parms)
    {
        try
        {
            errorMessage = string.Empty;
            testInProgress = false;
            mistakesQty = 0;
            //callSucceeded = await Http?.GetFromJsonAsync<bool>("QuestionV2/GetTest")!;
            quizItems = await Http?.GetFromJsonAsync<QuestionDto[]>($"QuestionV2/Get2?q={parms.NumberOfQuestions}&t={parms.QuizType}") ?? new QuestionDto[0];

            var bad = quizItems.Where(x => x.IsIncompleteQuizItem()).ToList();

            if (quizItems.Any() && !quizItems.Any(x => x.IsIncompleteQuizItem()))
            {
                currentQuestion = quizItems.OrderBy(x => x.PositionNumber).First();
                testInProgress = true;
            }
            else if (quizItems.Any(x => x.IsIncompleteQuizItem()))
            {
                errorMessage = "Quiz Generator returned invalid data. Not all questions are complete. Please change quiz parameters and try again.";
            }
            else
            {
                errorMessage = "No questions returned from Controller";
            }
        }
        catch (Exception ex)
        { Console.WriteLine(ex.Message); }
    }

    private void AnswerHappened(bool isCorrect)
    {
        if (isCorrect)
        {
            currentQuestion = quizItems.Where(q => q.Id == currentQuestion.NextQuizItemId).FirstOrDefault();
            if (currentQuestion == null)
            {
                testInProgress = false;
                quizResults.Add(new QuizResult { NumberOfErrors = this.mistakesQty, NumberOfQuestions = this.quizItems.Count(), QuizType = QuizType.EnglishToHiragana });
            }
        }
        else
            mistakesQty++;

        StateHasChanged();
    }

    //questions = await Http.GetFromJsonAsync<QuestionV1[]>("QuestionV1/NewTest/1/5");
    //questions = await Http.GetFromJsonAsync<QuestionV1[]>("QuestionV1/NewTest2?a=1&b=5");
    //questions = await Http.GetFromJsonAsync<QuestionV1[]>("QuestionV1/NewTest");
}
